﻿{% load staticfiles %}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Bombcast Radio</title>
    <meta name="Description" content="Paul Shields is a Video Game and Web Developer, who uses the latest technologies to create inventive and creative products." />

    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">

    <link rel="apple-touch-icon" sizes="57x57" href="{% static "img/favicons/apple-touch-icon-57x57.png" %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static "img/favicons/apple-touch-icon-60x60.png" %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static "img/favicons/apple-touch-icon-72x72.png" %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static "img/favicons/apple-touch-icon-76x76.png" %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static "img/favicons/apple-touch-icon-114x114.png" %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static "img/favicons/apple-touch-icon-120x120.png" %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static "img/favicons/apple-touch-icon-144x144.png" %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static "img/favicons/apple-touch-icon-152x152.png" %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static "img/favicons/apple-touch-icon-180x180.png" %}">
    <link rel="icon" type="image/png" href="{% static "img/favicons/favicon-32x32.png" sizes="32x32" %}">
    <link rel="icon" type="image/png" href="{% static "img/favicons/android-chrome-192x192.png" sizes="192x192" %}">
    <link rel="icon" type="image/png" href="{% static "img/favicons/favicon-96x96.png" sizes="96x96" %}">
    <link rel="icon" type="image/png" href="{% static "img/favicons/favicon-16x16.png" sizes="16x16" %}">
    <link rel="manifest" href="{% static "img/favicons/manifest.json" %}">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="{% static "img/favicons/mstile-144x144.png" %}">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}" />

    <script type="text/javascript">

        // SETTINGS!

        var soundmanagerSWFLocations = "{% static "js/soundmanager/swf" %}";

        var startBombcast = "{{ radio_playlist.0.url }}";

        {# Django templates tries to "convert" time to local time by stripping the timezone (UTC) #}
        {# and applying the local time. Fuck that, force UTC to fix their broken times. #}
        {% load tz %}
        var bombcastStartTime = {{ radio_playlist.0.start_time|utc|date:"U" }} * 1000;
        var startPosition = Date.now() - bombcastStartTime;

        var playButtonImg = "{% static "img/playerbuttons/play-red.svg" %}";
        var pauseButtonImg = "{% static "img/playerbuttons/pause-red.svg" %}";

    </script>

    <script type="text/javascript" src="{% static "js/jquery/jquery-1.11.3.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/soundmanager/soundmanager2-nodebug-jsmin.js" %}"></script>
    <script type="text/javascript" src="{% static "js/moment.js/moment.js" %}"></script>
    <script type="text/javascript" src="{% static "js/bombcastradio.player.js" %}"></script>
    <script type="text/javascript" src="{% static "js/bombcastradio.source.js" %}"></script>

    <script type="text/javascript">

        // Attaching functions to buttons

        $(document).ready(function() {
            $("#playPauseButton").click(pausePlayer);
            $("#rewindButton").click(rewindPlayer);
            $("#resetButton").click(resetPlayer);

            var playerExtensionObject = $("#playerextension");
            var timeBehindObject = $("#timebehind");

            $("#playPauseButton").click(function () {
                if (!playerIsPaused()) {
                    $(this).attr("src", pauseButtonImg);
                    stopTimer();
                }
                else {
                    $(this).attr("src", playButtonImg);
                    startTimer("playerGetCurrentTimePaused");

                    jQueryAddClassOnce(playerExtensionObject, "show");
                }
            });

            $("#rewindButton").click(function () {
                timeBehindObject.text(parseInt(playerGetCurrentTimePaused()));
                jQueryAddClassOnce(playerExtensionObject, "show");
            });

            $("#resetButton").click(function () {
                timeBehindObject.text(0);
                playerExtensionObject.removeClass("show");
            });

            setTimerObject(timeBehindObject);
        });

        $(document).ready(function() {
            $(".date").each(function() {
                var dateText = $(this).text();
                var splitDate = dateText.split("/");
                var formatForBloodyUS = splitDate[1] + "/" + splitDate[0] + "/" + splitDate[2];
                
                var unixTimestamp = Date.parse(formatForBloodyUS + " UTC");
                var dateParsedToLocal = moment.utc(unixTimestamp).toDate();
                var localToString = moment(dateParsedToLocal).format('DD/MM/YYYY hh:mm A');

                $(this).text(localToString);
            });
        });

    </script>
</head>
<body>
    <main>
        <div id="backgroundtint">
        </div>
        <content>
            <header>
                <h1>Bombcast Radio</h1>
                <ul>
                    <li><a href="#">Radio</a></li>
                    <li><a href="#">Random</a></li>
                </ul>
            </header>

            <h2>Now Playing:</h2>

            <section id="currentbombcast">
                <div id="imgcontainer">
                    <img src="{{ radio_playlist.0.img_url }}" />
                </div>
                <div id="textcontainer">
                    <h3>{{ radio_playlist.0.title }}</h3>
                    <p>{{ radio_playlist.0.description }}</p>
                </div>
            </section>

            <h2>Next:</h2>

            <ul id="nextinplaylist">

                {# NOTE: Only printing the 1st 5 bombcasts playing next in the playlist #}
                {% for bombcast in radio_playlist|slice:"1:6" %}
                <li><span class="date">{{ bombcast.start_time|date:"d/m/Y h:i A" }}</span>: {{ bombcast.title }}</li>
                {% endfor %}

            </ul>
        </content>

        <div id="playerextension">
            <p>Radio behind by <span id="timebehind">0</span> seconds.</p>
        </div>
        <div id="player">
            <div id="buttons">
                <img src="{% static "img/playerbuttons/rewind-red.svg" %}" alt="" id="rewindButton">
                <img src="{% static "img/playerbuttons/play-red.svg" %}" alt="" id="playPauseButton">
                <img src="{% static "img/playerbuttons/fastforward-red.svg" %}" alt="" id="resetButton">
            </div>
        </div>
    </main>

    <noscript>JavaScript is required to run Bombcast Radio. Sorry!</noscript>
</body>
</html>