﻿@font-face {
    font-family: 'Grilled Cheese BTN';
    src: url('../fonts/grilledcheese-btn-toasted.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/opensans/opensans-regular.eot');
    src: url('../fonts/opensans/opensans-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans/opensans-regular.woff') format('woff'),
         url('../fonts/opensans/opensans-regular.ttf') format('truetype'),
         url('../fonts/opensans/opensans-regular.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans SemiBold';
    src: url('../fonts/opensans/opensans-semibold.eot');
    src: url('../fonts/opensans/opensans-semibold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans/opensans-semibold.woff') format('woff'),
         url('../fonts/opensans/opensans-semibold.ttf') format('truetype'),
         url('../fonts/opensans/opensans-semibold.svg#open_sansitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Bold';
    src: url('../fonts/opensans/opensans-bold.eot');
    src: url('../fonts/opensans/opensans-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans/opensans-bold.woff') format('woff'),
         url('../fonts/opensans/opensans-bold.ttf') format('truetype'),
         url('../fonts/opensans/opensans-bold.svg#open_sansitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}