﻿html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: 'Grilled Cheese BTN';
  src: url("../fonts/grilledcheese-btn-toasted.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/opensans/opensans-regular.eot");
  src: url("../fonts/opensans/opensans-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans/opensans-regular.woff") format("woff"), url("../fonts/opensans/opensans-regular.ttf") format("truetype"), url("../fonts/opensans/opensans-regular.svg#open_sansregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans SemiBold';
  src: url("../fonts/opensans/opensans-semibold.eot");
  src: url("../fonts/opensans/opensans-semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans/opensans-semibold.woff") format("woff"), url("../fonts/opensans/opensans-semibold.ttf") format("truetype"), url("../fonts/opensans/opensans-semibold.svg#open_sansitalic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Bold';
  src: url("../fonts/opensans/opensans-bold.eot");
  src: url("../fonts/opensans/opensans-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans/opensans-bold.woff") format("woff"), url("../fonts/opensans/opensans-bold.ttf") format("truetype"), url("../fonts/opensans/opensans-bold.svg#open_sansitalic") format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Open Sans', sans-serif;
}

main {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 100px;
  width: 100%;
  background-image: url("../img/bombcast-fanart.jpg");
  background-repeat: no-repeat;
  background-position: center top;
}

main #backgroundtint {
  position: fixed;
  top: 0;
  bottom: 100px;
  left: 0;
  right: 0;
  background: rgba(119, 0, 0, 0.81);
}

main content {
  position: relative;
  display: block;
  top: 0;
  bottom: 10px;
  max-width: 900px;
  margin: 0 auto;
  color: white;
  z-index: 1;
}

main content header {
  position: relative;
}

main content header h1 {
  font-family: 'Grilled Cheese BTN', sans-serif;
  font-size: 3em;
  width: 215px;
  padding: 30px;
  text-shadow: black 0.1em 0.1em 0.6em;
  text-align: center;
}

main content header ul {
  position: absolute;
  right: 0;
  top: 50%;
}

main content header ul li {
  display: inline-block;
  padding: 0 20px;
  font-weight: bold;
}

main content header a {
  color: #FD8B8B;
  text-decoration: none;
}

main content header a:link {
  color: #FD8B8B;
  text-decoration: none;
}

main content header a:visited {
  color: #FD8B8B;
  text-decoration: none;
}

main content header a:hover {
  color: #FD8B8B;
  text-decoration: none;
}

main content h2 {
  font-family: 'Grilled Cheese BTN', sans-serif;
  margin-top: 50px;
  padding: 25px;
  text-align: center;
  font-size: 2em;
  text-shadow: black 0.1em 0.1em 0.6em;
}

main content #currentbombcast {
  display: flex;
}

main content #currentbombcast #imgcontainer {
  flex: 0 0 auto;
  text-align: center;
  text-shadow: black 0.1em 0.1em 0.6em;
}

main content #currentbombcast #imgcontainer img {
  max-width: 100%;
  max-height: 220px;
  border-radius: 4px;
}

main content #currentbombcast #textcontainer {
  padding: 0 20px;
}

main content #currentbombcast #textcontainer h3 {
  font-family: 'Open Sans SemiBold', sans-serif;
  font-size: 1.5em;
  padding: 20px 0;
  text-shadow: black 0.1em 0.1em 0.6em;
}

main content #currentbombcast #textcontainer p {
  line-height: 1.3;
}

main content #nextinplaylist {
  text-align: center;
}

main content #nextinplaylist li {
  margin: 10px 0;
}

main #playerextension {
  position: fixed;
  bottom: 100px;
  left: 0;
  right: 0;
  z-index: 1;
  text-align: center;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

main #playerextension.show {
  opacity: 1;
}

main #playerextension p {
  background: white;
  display: inline-block;
  padding: 8px 20px;
  border-radius: 10px 10px 0 0;
}

main #player {
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  bottom: 10px;
  height: 90px;
  padding: 10px;
  background: white;
}

main #player #buttons {
  width: 900px;
  margin: 0 auto;
  text-align: center;
}

main #player #buttons img {
  width: 80px;
  height: 80px;
  margin: 0 30px;
}

main #player #buttons img:hover {
  cursor: pointer;
}

noscript {
  display: block;
  position: fixed;
  background: rgba(255, 0, 0, 0.7);
  height: 100%;
  width: 100%;
  padding-top: 200px;
  text-align: center;
  font-size: 2em;
}

@media screen and (max-width: 480px) {
  main content {
    position: absolute;
    overflow-x: auto;
  }
  main content header h1 {
    margin: 0 auto;
  }
  main content header ul {
    top: inherit;
    right: inherit;
    width: 100%;
    text-align: center;
  }
  main content #currentbombcast {
    display: block;
  }
  main #player #buttons {
    width: auto;
  }
  main #player #buttons img {
    margin: 0 15px;
  }
}

/*# sourceMappingURL=style.css.map */