﻿@import 'reset';
@import 'fonts';

$background-image: "../img/bombcast-fanart.jpg";
$player-height: 100px;
$player-padding: 10px;
$content-width: 900px;
$a-color: #FD8B8B;

$background-tint-red: rgba(119, 0, 0, 0.81); // #770000
$background-tint-blue: rgba(0, 79, 119, 0.81);

body {
    font-family: 'Open Sans', sans-serif;
}

main {
    position: fixed;
    top: 0;
    left: 0;
    bottom: $player-height;
    width: 100%;
    background-image: url($background-image);
    background-repeat: no-repeat;
    background-position: center top;

    #backgroundtint {
        position: fixed;
        top: 0;
        bottom: $player-height;
        left: 0;
        right: 0;
        background: $background-tint-red;
    }

    content {
        position: relative;
        display: block;
        top: 0;
        bottom: $player-padding; // Padding isn't taken into account when you use 0 apparently
        max-width: $content-width;
        margin: 0 auto;
        color: white;
        z-index: 1;


        header {
            position: relative; // Makes position: absolute on ul work relative to this div, rather than whole page

            h1 {
                font-family: 'Grilled Cheese BTN', sans-serif;
                font-size: 3em;
                width: 215px;
                padding: 30px;
                text-shadow: black 0.1em 0.1em 0.6em;
                text-align: center;
            }

            ul {
                position: absolute;
                right: 0;
                top: 50%;

                li {
                    display: inline-block;
                    padding: 0 20px;
                    font-weight: bold;
                }
            }

            a {
                color: $a-color;
                text-decoration: none;
            }

            a:link {
                color: $a-color;
                text-decoration: none;
            }

            a:visited {
                color: $a-color;
                text-decoration: none;
            }

            a:hover {
                color: $a-color;
                text-decoration: none;
            }
        }

        h2 {
            font-family: 'Grilled Cheese BTN', sans-serif;
            margin-top: 50px;
            padding: 25px;
            text-align: center;
            font-size: 2em;
            text-shadow: black 0.1em 0.1em 0.6em;
        }

        #currentbombcast {
            display: flex;

            #imgcontainer {
                flex: 0 0 auto;
                text-align: center;
                text-shadow: black 0.1em 0.1em 0.6em;

                img {
                    max-width: 100%;
                    max-height: 220px;
                    border-radius: 4px;
                }
            }

            #textcontainer {
                padding: 0 20px;

                h3 {
                    font-family: 'Open Sans SemiBold', sans-serif;
                    font-size: 1.5em;
                    padding: 20px 0;
                    text-shadow: black 0.1em 0.1em 0.6em;
                }

                p {
                    line-height: 1.3;
                }
            }
        }

        #nextinplaylist {
            text-align: center;

            li {
                margin: 10px 0;
            }
        }
    }

    #playerextension {
        position: fixed;
        bottom: $player-height;
        left: 0;
        right: 0;

        z-index: 1;
        text-align: center;

        opacity: 0;
        transition: opacity 0.5s ease-in-out;

        &.show {
            opacity: 1;
        }

        p {
            background: white;
            display: inline-block;
            padding: 8px 20px;
            border-radius: 10px 10px 0 0;
        }
    }

    #player {
        position: fixed;
        width: 100%;

        // width: 100% with padding breaks formatting
        // (padding of Xpx to left, then 100%, pushes block slightly off screen)
        // box-sizing: border-box fixes it, ignoring padding on positioning,
        // but breaks bottom positioning, as it now ignores padding!
        // Manual fix
        box-sizing: border-box;
        bottom: $player-padding;

        height: $player-height - $player-padding;
        padding: $player-padding;
        background: white;

        #buttons {
            width: $content-width;
            margin: 0 auto;
            text-align: center;

            img {
                width: 80px;
                height: 80px;
                margin: 0 30px;

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}

noscript {
    display: block;
    position: fixed;
    background: rgba(255, 0, 0, 0.7);
    
    height: 100%;
    width: 100%;
    padding-top: 200px;
    
    text-align: center;
    font-size: 2em;
}

@media screen and (max-width : 480px) {
    main {
        content {
            position: absolute;
            overflow-x: auto;

            header {
                h1 {
                    margin: 0 auto;
                }

                ul {
                    //Disable top and right from desktop CSS
                    top: inherit;
                    right: inherit;
                    width: 100%;
                    text-align: center;
                }
            }

            #currentbombcast {
                display: block;
            }
        }

        #player {
            #buttons {
                width: auto;

                img {
                    margin: 0 15px;
                }
            }
        }
    }
}
